
<script>
    function validateForm() {

        var msgs = [];

        var cid = document.getElementById('customerId').value;
        if (cid === "0") {
            msgs.push('- Debe seleccionar un cliente.');
        }

        var sid = document.getElementById('salesmanId').value;
        if (sid === "0") {
            msgs.push('- Debe seleccionar un vendedor.');
        }

        if (msgs.length) {
            alert("Existen errores:\n" + msgs.join("\n"));
            return false;
        } else {
            return true;
        }
    }
</script>

<% if (session.user.isAdmin || session.user.isManager) { %>

<div class="form-group">

	<label for="salesmanId">Vendedor:</label>

	<select name="salesmanId"
			class="form-control"
			id="salesmanId">

		<option value="0" <%= visit.SalesmanId === 0 ? "selected" : "" %> >
			Seleccione un vendedor
		</option>

        <% for (var i in salesmen) { %>
        <% var salesman = salesmen[i]; %>
		<option value="<%= salesman.id %>" <%= salesman.id === visit.SalesmanId ? "selected" : "" %> >
            <%= salesman.fullname %>
		</option>
        <% } %>
	</select>
</div>

<% } else { %>

<input type="hidden"
	   id="salesmanId"
	   name="salesmanId"
	   value="<%= visit.SalesmanId %>" />

<% } %>

<div class="form-group">
	<label for="customerId">Cliente:</label>

		<select name="customerId"
				class="form-control"
				id="customerId" >

		    <option value="0"  <%= visit.CustomerId === 0 ? "selected" : "" %> > 
    				Seleccione un cliente  
    		</option>

			<% for (var i in customers) { %>
				<% var customer = customers[i]; %>
			    <option value="<%= customer.id %>"  <%= customer.id === visit.CustomerId ? "selected" : "" %> >
    				<%= customer.code %> - <%= customer.name %>
    			</option>
    		<% } %>
		</select>
</div>

<div class="form-group">
	<label for="plannedFor">Fecha planificación (dd-mm-aaaa):</label>

		<input type="text"
			   class="form-control"
			   id="plannedFor"
			   name="plannedFor"
		       value="<%= moment(visit.plannedFor).format("DD-MM-YYYY") %>"
		       pattern="\d\d-\d\d-\d\d\d\d"
		       placeholder="dd-mm-aaaa" 
		       autocomplete="off" />
</div>

<div class="form-group">
	<label for="fulfilledAt">Fecha realización (dd-mm-aaaa):</label>

    <% var fulfillAtValue = !!visit.fulfilledAt ? moment(visit.fulfilledAt).format("DD-MM-YYYY") : ""; %>

		<input type="text"
			   class="form-control"
			   id="fulfilledAt"
			   name="fulfilledAt"
		       value="<%= fulfillAtValue %>"
		       pattern="\d\d-\d\d-\d\d\d\d"
		       placeholder="dd-mm-aaaa" 
		       autocomplete="off" />
</div>

<div class="form-group">
	<label for="notes">Observaciones:</label>

		<textarea type="text"
				  class="form-control"
				  id="notes"
				  name="notes"
				  placeholder="Observaciones"
				  rows="5"><%= visit.notes %></textarea>
</div>
