<div class="row justify-content-between">

    <div class="col-sm-auto">

        <div class="row">
            <h1 class="text-center">

                <a href="/goback"><span class="oi oi-arrow-circle-left h3"></span></a>

                <% if (locals.customer) { %>
                <% if (locals.salesman) { %>
                Mis visitas a <em><%= locals.customer.name %></em>:
                <% } else { %>
                Visitas a <em><%= locals.customer.name %></em>:
                <% } %>
                <% } else { %>
                <% if (locals.salesman) { %>
                Mis visitas:
                <% } else { %>
                Todas las visitas:
                <% } %>
                <% } %>

                <a href="/visits/new"><span class="oi oi-plus h3"></span></a>

                <%
                var urlPrint = "";
                if (locals.salesman) {
                    urlPrint += "/salesmen/" + locals.salesman.id;
                }
                if (locals.customer) {
                    urlPrint += "/customers/" + locals.customer.id;
                }
                urlPrint += "/visits/print?";
                urlPrint += "dateafter=" + (locals.searchdateafter || '') + "&";
                urlPrint += "datebefore=" + (locals.searchdatebefore || '') + "&";
                urlPrint += "customer=" + (locals.searchcustomer || '') + "&";
                urlPrint += "salesman=" + (locals.searchsalesman || '') + "&";
                urlPrint += "companyid=" + (locals.searchCompanyId || '') + "&";
                urlPrint += "favourites=" + (locals.searchfavourites || '');
                %>
                <a href="<%= urlPrint %>"><span class="oi oi-print h3"></span></a>
            </h1>
        </div>

        <div class="row">
            <% if (locals.paginate_control) { %>
            <%- paginate_control %>
            <% } %>
        </div>
    </div>

    <div class="col-sm-auto">
        <% include _filter.ejs %>
    </div>
</div>


<div class=" clearfix">
</div>

<% for (var i in visits) { %>
<% var visit = visits[i]; %>
<% var customerCode = visit.Customer && visit.Customer.code || ""; %>
<% var customerName = visit.Customer && visit.Customer.name || ""; %>
<% var customerId = visit.Customer && visit.Customer.id || 0; %>
<% var customerAddr = visit.Customer && (
        (visit.Customer.address1 || "") + " - " +
        (visit.Customer.address2 || "") + " " +
        (visit.Customer.postalCode || "") + "-" +
        (visit.Customer.city || "")
        ) || ""; %>
<% var customerArchived = visit.Customer && !!visit.Customer.archived; %>


<% var salesmanName = visit.Salesman && visit.Salesman.fullname || ""; %>
<% var salesmanPhotoUrl = visit.Salesman && visit.Salesman.Photo && visit.Salesman.Photo.url || ""; %>
<% var salesmanId = visit.Salesman && visit.Salesman.id || 0; %>



<div class="card bg-light my-2">

    <div class="card-header">

        <% if (customerArchived) { %>
        <h4 class="card-title">
            <span class="text-warning">[Archivado]</span>
        </h4>
        <% } %>

        <h4 class="card-title">
            <% if (customerCode) { %>
            <a href="/customers/<%= customerId %>"> <%= customerName %> </a>
            <small>
                (<%= customerCode %>)
            </small>
            <% } else { %>
            <% customerCode = "SIN CLIENTE"; %>
            <span class='text-light bg-danger'><%= customerCode %></span>
            <% } %>


            <!-- % if (session.user && session.user.isAdmin || salesmanId === session.user.id) { % -->
            <a href="/visits/<%= visit.id %>"><span class="oi oi-eye"></span></a>
            <!-- % } % -->

            <!--
            <% if (session.user && session.user.isAdmin) { %>
            <a href="/visits/<%= visit.id %>?_method=DELETE"
               onClick="return confirm('¿Seguro que quiere borrar la visita de <%= salesmanName %> a <%= customerCode %>?');"><span class="oi oi-trash"></span></a>
            <% } %>
            -->
        </h4>

        <% if (customerCode) { %>
        <h6 class="card-subtitle mb-2 text-muted">
            <%= customerAddr %>
        </h6>
        <% } %>
    </div>

    <div class="card-body">

        <div class="float-right ml-4">

            <div class="row justify-content-end">

                <%- include ../favourites/_stars.ejs %>

                <% if (salesmanPhotoUrl) { %>
                <img src="<%= salesmanPhotoUrl %>" class="rounded-circle" width="50px" width="50px" height="50px" />
                <% } else { %>
                <img src="/images/face.png" class="rounded-circle" width="50px" width="50px" height="50px" />
                <% } %>
            </div>


            <div class="row justify-content-end">

                <% if (salesmanName) { %>
                <% if (session.user.isAdmin) { %>
                <a href="/users/<%= salesmanId %>"> <%= salesmanName %> </a>
                <% } else { %>
                <%= salesmanName %>
                <% } %>
                <% } else { %>
                <% salesmanName = "SIN VENDEDOR"; %>
                <span class='text-light bg-danger'><em><%= salesmanName %></em></span>
                <% } %>
            </div>
        </div>

        <%= moment(visit.plannedFor).format("DD-MM-YYYY") %>
        /
        <% if (!!visit.fulfilledAt) { %>
        <%= moment(visit.fulfilledAt).format("DD-MM-YYYY") %>
        <% } else { %>
        <span class='text-info bg-warning'><em>PENDIENTE</em></span>
        <% } %>



        <% if (visit.notes) { %>
        <p class="card-text ">
            <%- escapeText(visit.notes) %>
        </p>
        <% } %>

        <% var targets = visit.Targets %>
        <% locals.readwrite = false; %>

        <% if (targets.length > 0) { %>
        <h5 class="card-title">
            Objetivos:
        </h5>
        <div class="targetindex">
            <%- include ../targets/_index.ejs %>
        </div>
        <% } %>
    </div>
</div>


<% } %>


