

<% var salesmanName = visit.Salesman ? visit.Salesman.fullname : ""; %>
<% var salesmanPhotoUrl = visit.Salesman && visit.Salesman.Photo && visit.Salesman.Photo.url || ""; %>
<% var salesmanId = visit.Salesman && visit.Salesman.id || 0; %>

<% var customerCode = visit.Customer ? visit.Customer.code : "" %>
<% var customerName = visit.Customer ? visit.Customer.name : "" %>
<% var customerId   = visit.Customer && visit.Customer.id || 0; %>
<% var customerAddr = visit.Customer && (
		(visit.Customer.address1 || "") + " - " +
		(visit.Customer.address2 || "") + " " +
		(visit.Customer.postalCode || "") + "-" +
		(visit.Customer.city || "")
) || ""; %>


<div class="row">

	<h1 class="text-center">

		<a href="/goback"><span class="oi oi-arrow-circle-left h3"></a>

		Visita:

        <% if (session.user && session.user.isAdmin) { %>
		<a href="/visits/<%= visit.id %>?_method=DELETE"
		   onClick="return confirm('¿Seguro que desea borrar la visita de <%= salesmanName %> a <%= customerCode %>?');"><span
					class="oi oi-trash h3"></span></a>
        <% } %>
	</h1>
</div>


<div class="card bg-light my-2">

	<div class="card-header">
		<h1>
			<b>Cliente</b>:

            <% if (customerCode) { %>
			<a href="/customers/<%= customerId %>"> <%= customerName %></a>
			<small>(<%= customerCode %>)</small>
            <% } else { %>
            <% customerCode = "SIN CLIENTE"; %>
			<span class='text-light bg-danger'><%= customerCode %></span>
            <% } %>

            <% if (session.user && (session.user.isAdmin || session.user.isManager) || salesmanId === session.user.id) { %>
			<a href="/visits/<%= visit.id %>/edit"><span class="oi oi-pencil h3"></span></a>
            <% } %>

            <% if (customerCode) { %>
			<h6 class="card-subtitle text-muted">
                <%= customerAddr %>
			</h6>
            <% } %>
		</h1>
	</div>


	<div class="card-body">

		<div class="float-right ml-5">

			<div class="row justify-content-end">

                <%- include ../favourites/_stars.ejs %>

                <% if (salesmanPhotoUrl) { %>
				<img src="<%= salesmanPhotoUrl %>" class="rounded-circle" width="50px" width="50px" height="50px"/>
                <% } else { %>
				<img src="/images/face.png" class="rounded-circle" width="50px" width="50px" height="50px"/>
                <% } %>
			</div>


			<div class="row justify-content-end">

                <% if (salesmanName) { %>
                <% if (session.user.isAdmin) { %>
				<a href="/users/<%= salesmanId %>"> <%= salesmanName %> </a>
                <% } else { %>
                <%= salesmanName %>
                <% } %>
                <% } else { %>
                <% salesmanName = "SIN VENDEDOR"; %>
				<span class='text-light bg-danger'><em><%= salesmanName %></em></span>
                <% } %>
			</div>
		</div>


		<div class="targetindex">
			<ul class="list-group list-group-flush">
				<li class="list-group-item bg-light">
					<b>Fecha planificación</b>: <%= moment(visit.plannedFor).format("DD-MM-YYYY") %>
				</li>
				<li class="list-group-item bg-light">
					<b>Fecha realización</b>:
                    <% if (!!visit.fulfilledAt) { %>
                    <%= moment(visit.fulfilledAt).format("DD-MM-YYYY") %>
                    <% } else { %>
					<span class='text-info bg-warning'><em>PENDIENTE</em></span>
                    <% } %>
				</li>

                <% if (visit.notes) { %>
				<li class="list-group-item bg-light">
					<b>Observaciones</b>:
					<p class="card-text ml-4">
                        <%- escapeText(visit.notes) %>
					</p>

				</li>
                <% } %>

			</ul>
		</div>

        <% var targets = visit.Targets %>
        <% locals.readwrite = session.user && (session.user.isAdmin || session.user.isManager) || salesmanId === session.user.id; %>
		<h4 class="card-title">
			Objetivos:

            <% if (locals.readwrite) { %>
			<a href="/visits/<%= visit.id %>/targets/new"><span class="oi oi-plus h4"></span></a>
            <% } %>
		</h4>
		<div class="targetindex">
        <%- include ../targets/_index.ejs %>
		</div>

	</div>
</div>





