<div class="row">
    <h1 class="text-center">
        <a href="/goback"><span class="oi oi-arrow-circle-left h3"></a>

        Clientes Eliminados:
    </h1>
</div>

<%  if (locals.paginate_control) { %>
<%- paginate_control %>
<% } %>

<table  class='table table-striped table-bordered table-sm'>
    <thead>
    <tr class="table-primary">
        <th scope="col">
            Borrado
        </th>
        <th scope="col">
            Código
        </th>
        <th scope="col">
            Nombre
        </th>
        <th scope="col">
            Dirección
        </th>
        <th scope="col">
            
        </th>
    </tr>
    </thead>

    <tbody>
    <% for (var i in customers) { %> 
        <% var customer = customers[i]; %>      

        <tr>
            <td>
                <%= moment(customer.deletedAt).format("DD-MM-YYYY") %>
            </td>
            <td>
                <%= customer.code %>
            </td>
            <td>
                <%= customer.name %>
            </td>
            <td>
                <%= customer.address1 %>
            </td>

            <td>
                <% if (session.user && session.user.isAdmin) { %>
                <a href="/trash/customers/<%= customer.id %>?_method=DELETE"
                   onClick="return confirm('¿Seguro que quiere borrar DEFINITIVAMENTE el cliente: <%= customer.name %>?');"><span class="oi oi-delete h4"></span></a>
                <% } %>

                <% if (session.user && session.user.isAdmin) { %>
                <a href="/trash/customers/<%= customer.id %>?_method=POST"><span class="oi oi-loop-circular h4"></span></a>
                <% } %>
            </td>
         </tr> 
    <% } %>
    </tbody>

</table>

