<div class="row">
    <h1 class="text-center">
        <a href="/goback"><span class="oi oi-arrow-circle-left h3"></a>

        Visitas Eliminadas:
    </h1>
</div>

<%  if (locals.paginate_control) { %>
<%- paginate_control %>
<% } %>

<table  class='table table-striped table-bordered table-sm'>
    <thead>
    <tr class="table-primary">
        <th scope="col">
            Borrado
        </th>
        <th scope="col">
            Cliente
        </th>
        <th scope="col">
            Vendedor
        </th>
        <th scope="col">
            Planificado
        </th>
        <th scope="col">
            Realizado
        </th>
        <th scope="col">
            Objetivos
        </th>
        <th scope="col">
            Observaciones
        </th>
        <th scope="col">
            
        </th>
    </tr>
    </thead>

    <tbody>
    <% for (var i in visits) { %> 
        <% var visit = visits[i]; %>

        <% var customerCode = visit.Customer && visit.Customer.code || ""; %>
        <% var customerId = visit.Customer && visit.Customer.id || 0; %>

        <% var salesmanName = visit.Salesman && visit.Salesman.fullname || ""; %>
        <% var salesmanPhotoUrl = visit.Salesman && visit.Salesman.Photo && visit.Salesman.Photo.url || ""; %>

        <tr>
            <td>
                <%= moment(visit.deletedAt).format("DD-MM-YYYY") %>
            </td>
            <td>
                <% if (customerCode) { %>
                    <%= customerCode %>
                <% } else { %>
                    <% customerCode = "SIN CLIENTE"; %>
                    <span class='text-light bg-danger'><%= customerCode %></span>
                <% } %>
            </td>
            <td>
                <div>
                    <% if (salesmanPhotoUrl) { %>
                    <img src="<%= salesmanPhotoUrl %>" width="30px"/>
                    <% } else { %>
                    <img src="/images/face.png" width="30px"/>
                    <% } %>

                    <% if (salesmanName) { %>
                    <%= salesmanName %>
                    <% } else { %>
                    <% salesmanName = "SIN VENDEDOR"; %>
                    <span class='text-light bg-danger'><em><%= salesmanName %></em></span>
                    <% } %>
                </div>
            </td>
            <td>
                <%= moment(visit.plannedFor).format("DD-MM-YYYY") %>
            </td>
            <td>
            <%= !!visit.fulfilledAt ? moment(visit.fulfilledAt).format("DD-MM-YYYY") : "PENDIENTE" %>
            </td>
            <td>
                <%= visit.Targets.length %>
            </td>
            <td>
                <%= visit.notes === "" ? "No" : "Si" %>
            </td>
            <td>
                <% if (session.user && session.user.isAdmin) { %>
                <a href="/trash/visits/<%= visit.id %>?_method=DELETE"
                   onClick="return confirm('¿Seguro que quiere borrar DEFINITIVAMENTE la visita?');"><span class="oi oi-delete h4"></a>
                <% } %>

                <% if (session.user && session.user.isAdmin) { %>
                <a href="/trash/visits/<%= visit.id %>?_method=POST"><span class="oi oi-loop-circular h4"></span></a>
                <% } %>
            </td>

         </tr> 
    <% } %>
    </tbody>

</table>

