
<script>
    function validateForm(formId) {

        var msgs = [];

        var ttid = document.getElementById('targetTypeId').value;
        if (ttid === "0") {
            msgs.push('- Debe seleccionar un tipo de objetivo.');
        }

        var sid = document.getElementById('salesmanId').value;
        if (sid === "0") {
            msgs.push('- Debe seleccionar un vendedor.');
        }

        if (msgs.length) {
            alert("Existen errores:\n" + msgs.join("\n"));
            return false;
        } else {
            document.getElementById(formId).submit();
            return true;
        }
    }
</script>


<form id="myForm" method="post" action="/companies/<%= company.id %>/visits">

    <div class="row">
        <h1 class="text-center">
            Crear una visita para todos los Clientes de <%= company.name %>:

            <a href="#" onclick="return validateForm('myForm')"><span class="oi oi-circle-check h3"></span></a>

            <a href="/reload"><span class="oi oi-circle-x h3"></span></a>
        </h1>
    </div>


    <div class="form-group">
        <label for="salesmanId">Vendedor:</label>

        <select name="salesmanId"
                class="form-control"
                id="salesmanId">

            <option value="0" <%= !locals.salesmanId ? "selected" : "" %> >
                Seleccione un vendedor
            </option>

            <% for (var i in locals.salesmenInfo) { %>
            <% var salesmanInfo = salesmenInfo[i]; %>
            <option value="<%= salesmanInfo.id %>" <%= salesmanInfo.id == locals.salesmanId ? "selected" : "" %> >
                <%= salesmanInfo.fullname %>
            </option>
            <% } %>
        </select>
    </div>


    <div class="form-group">
        <label for="plannedFor">Fecha planificación (dd-mm-aaaa):</label>

        <input type="text"
               class="form-control"
               id="plannedFor"
               name="plannedFor"
               value="<%= moment(locals.plannedFor).format("DD-MM-YYYY") %>"
               pattern="\d\d-\d\d-\d\d\d\d"
               placeholder="dd-mm-aaaa"
               autocomplete="off" />
    </div>


    <div class="form-group">
        <label for="notes">Observaciones de las Visitas:</label>

        <textarea type="text"
                  class="form-control"
                  id="visitsNotes"
                  name="visitsNotes"
                  placeholder="Observaciones"
                  rows="5"><%= locals.visitsNotes %></textarea>
    </div>


    <div class="form-group">
        <label for="targettypeId">Tipo de Objetivo</label>

        <select name="targetTypeId"
                class="form-control"
                id="targetTypeId">

            <option value="0" <%= !locals.targetTypeId ? "selected" : "" %> >
                Seleccione un tipo de objetivo
            </option>

            <% for (var i in locals.targetTypesInfo) { %>
            <% var targetTypeInfo = targetTypesInfo[i]; %>
            <option value="<%= targetTypeInfo.id %>" <%= targetTypeInfo.id == locals.targetTypeId ? "selected" : "" %> >
                <%= targetTypeInfo.name %>
            </option>
            <% } %>
        </select>
    </div>


    <div class="form-group">
        <label for="notes">Observaciones del Objetivo:</label>

        <textarea type="text"
                  class="form-control"
                  id="targetTypesNotes"
                  name="targetTypesNotes"
                  placeholder="Observaciones"
                  rows="5"><%= locals.targetTypesNotes %></textarea>
    </div>


    <a href="#" onclick="return validateForm('myForm')"><span class="oi oi-circle-check h3"></span></a>

    <a href="/goback"><span class="oi oi-circle-x h3"></span></a>

</form>




