
<h3 class="card-title">
    Adjuntos:

    <% if (session.user && session.user.id == post.AuthorId) { %>
    <a href="/posts/<%= post.id %>/attachments/new"><span class="oi oi-plus h4"></span></a>
    <% } %>
</h3>

<div class="row justify-content-start mb-3">
    <% for (var i in post.Attachments) { %>
    <% var attachment = post.Attachments[i]; %>

    <div class="col m-1">

        <div class="border rounded bg-white border-primary p-1">

            <a href='<%= attachment.url %>'
               type='<%= attachment.mime %>'
               target='_blank'>
                <%= attachment.filename %>
            </a>

            <br/>

            <div class="text-center my-1">
                <% if ( attachment.mime === "image/jpeg" ||
                        attachment.mime === "image/gif" ||
                        attachment.mime === "image/png" ||
                        attachment.mime === "image/jpg" ||
                        attachment.mime === "image/gif" ) { %>

                <%- attachmentHelper.image(attachment.public_id, {width: 200, secure: true}) %>

                <% } else if ( attachment.mime === "video/mp4" ) { %>

                <%- attachmentHelper.video(attachment.public_id, {width: 200, controls: true, secure: true}) %>

                <% } else if ( attachment.mime === "application/pdf" ) { %>

                <%- attachmentHelper.image(attachment.public_id, {width: 150, format: "jpg", secure: true}) %>

                <% } else { %>

                <span class="oi oi-document display-1 text-primary"></span>

                <% } %>
            </div>

            <div>
                <% if (session.user && session.user.id == post.AuthorId) { %>
                <a href="/posts/<%= post.id %>/attachments/<%= attachment.id %>?_method=DELETE"
                   onClick="return confirm('¿Seguro que quiere borrar el fichero adjunto: <%= attachment.filename %>?');"><span
                            class="oi oi-trash"></span></a>
                <% } %>

                <em><%= attachment.updatedAt.toLocaleDateString() %></em>
            </div>

        </div>

    </div>

    <% } %>
</div>
